NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_WRITER_URL=http://localhost:8787
NEXT_PUBLIC_RPC_URL=https://hyperliquid-testnet.drpc.org
NEXT_PUBLIC_PARLAY_VAULT=0x407CDc0B15E8d81f4D122481Ecf92Dbe07DC0169
NEXT_PUBLIC_PARLAY_DEPLOY_BLOCK=61906227
NEXT_PUBLIC_INFO_API=https://api.hyperliquid-testnet.xyz/info
